<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.account.dao.AccountSettleControlDao">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="AccountSettleControlEntity">
        INSERT INTO t_account_settle_control
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != accountSettleId ">
                account_settle_id,
            </if>
            <if test="null != accountNo and '' != accountNo">
                account_no,
            </if>
            <if test="null != merchantNo and '' != merchantNo">
                merchant_no,
            </if>
            <if test="null != nextSettleDate ">
                next_settle_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != accountSettleId ">
                #{accountSettleId},
            </if>
            <if test="null != accountNo and '' != accountNo">
                #{accountNo},
            </if>
            <if test="null != merchantNo and '' != merchantNo">
                #{merchantNo},
            </if>
            <if test="null != nextSettleDate ">
                #{nextSettleDate},
            </if>
        </trim>
    </insert>

    <select id="selectSettleAccount" resultType="AccountSettleControlEntity">
        <![CDATA[
        select
            control.account_no
        from
            t_account_settle_control control
        join
            t_account_settle settle
        on
            control.account_settle_id = settle.id
        where
            control.next_settle_date <= #{nextSettleDate}
            and settle.settle_type = 'AUTO_SETTLEMENT'
        ]]>
    </select>

    <select id="selectById" resultType="AccountSettleControlEntity">
        select
            *
        from
            t_account_settle_control
        where
            id = #{id}
    </select>

    <select id="selectByAccountNo" resultType="AccountSettleControlEntity">
        select
            *
        from
            t_account_settle_control
        where
            account_no = #{accountNo}
    </select>
    
    <update id="updateSettleControl">
        update
            t_account_settle_control
        set
            version = version + 1,
            next_settle_date = #{nextSettleDate},
            <if test="null != settleRecordId">
                settle_record_id = #{settleRecordId}
            </if>
        where
            id = #{id} and version = #{version}
    </update>
</mapper>