<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.account.dao.AccountAsyncDao">
    <select id="select" resultType="AccountAsyncEntity">
        select account_no,merchant_no from t_account_async
    </select>
</mapper>