<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomato.account.dao.AccountInfoDao">
    <insert id="insert" parameterType="AccountInfoEntity">
        insert into t_account_info (account_no, merchant_no,account_type,account_status)
            values (#{accountNo},#{merchantNo},#{accountType},#{accountStatus})
    </insert>
    <select id="selectByAccountNo" resultType="AccountInfoEntity" parameterType="map">
        SELECT * FROM t_account_info WHERE account_no = #{accountNo}
    </select>
    
    <select id="selectByMerchantNo" resultType="AccountInfoEntity" parameterType="map">
        select
            *
        from
            t_account_info
        where
            merchant_no = #{merchantNo} and account_type = #{accountType}
    </select>

    <update id="deductSpecial" parameterType="AccountBalanceBO">
        UPDATE
            t_account_info
        set
            balance = balance - frozen_balance + #{accountBalanceBO.amount},
            out_reserve_balance = out_reserve_balance - frozen_balance + #{accountBalanceBO.amount},
            version = version +1,
            account_his_serial = account_his_serial +1
            <if test="accountBalanceBO.yesterdayBalance != null" >
                ,yesterday_balance = #{accountBalanceBO.yesterdayBalance,jdbcType=DECIMAL}
            </if>
            <if test="accountBalanceBO.lastTradTime != null" >
                ,last_trad_time = #{accountBalanceBO.lastTradTime,jdbcType=DATE}
            </if>
       WHERE
           account_no = #{accountBalanceBO.accountNo} and
           balance - frozen_balance >=  #{accountBalanceBO.amount} and
           version = #{accountBalanceBO.version}
    </update>

    <update id="deduct" parameterType="AccountBalanceBO">
        UPDATE
            t_account_info
        set
            balance = balance - frozen_balance + #{accountBalanceBO.amount},
            out_reserve_balance = out_reserve_balance - frozen_balance + #{accountBalanceBO.amount},
            version = version + 1,
            account_his_serial = account_his_serial +1
            <if test="accountBalanceBO.yesterdayBalance != null" >
                ,yesterday_balance = #{accountBalanceBO.yesterdayBalance,jdbcType=DECIMAL}
            </if>
            <if test="accountBalanceBO.lastTradTime != null" >
                ,last_trad_time = #{accountBalanceBO.lastTradTime,jdbcType=DATE}
            </if>
        WHERE
            account_no = #{accountBalanceBO.accountNo} and
            balance - frozen_balance + #{accountBalanceBO.amount} >= 0  and
            out_reserve_balance - frozen_balance + #{accountBalanceBO.amount} >= 0 and
            version = #{accountBalanceBO.version}
    </update>

    <update id="add" parameterType="AccountBalanceBO">
        UPDATE
            t_account_info
        set
            balance = balance + #{accountBalanceBO.amount},
            version = version +1,
            account_his_serial = account_his_serial +1
        <if test="accountBalanceBO.yesterdayBalance != null" >
            ,yesterday_balance = #{accountBalanceBO.yesterdayBalance,jdbcType=DECIMAL}
        </if>
        <if test="accountBalanceBO.lastTradTime != null" >
            ,last_trad_time = #{accountBalanceBO.lastTradTime,jdbcType=DATE}
        </if>
        WHERE
            account_no = #{accountBalanceBO.accountNo} and
            version = #{accountBalanceBO.version}
    </update>

    <update id="updateOutReserveBalance" parameterType="map">
        UPDATE
            t_account_info
        set
            out_reserve_balance = #{outReserveBalance},
            version = version +1,
            out_reserve_date = #{outReserveDate}
        WHERE
            account_no = #{accountNo} and version = #{version}
    </update>

    <update id="freeze" parameterType="map">
        UPDATE t_account_info set frozen_balance = #{amount},version = version +1
        WHERE account_no = #{accountNo} and version = #{version}
    </update>

    <update id="updateAccountStatus" parameterType="map">
        UPDATE
            t_account_info
        set
            account_status = #{accountStatus},version = version + 1,account_manage_serial = account_manage_serial + 1
        WHERE
            account_no = #{accountNo} and version = #{version}
    </update>
    
    <select id="selectAllAccount" resultType="java.lang.String">
        select account_no from t_account_info limit #{pageIndex},#{pageSize}
    </select>
</mapper>