<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.account.dao.AccountSettleRecordDao">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="AccountSettleRecordEntity">
        INSERT INTO t_account_settle_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != accountSettleId ">
                account_settle_id,
            </if>
            <if test="null != accountNo and '' != accountNo">
                account_no,
            </if>
            <if test="null != merchantNo and '' != merchantNo">
                merchant_no,
            </if>
            <if test="null != settleDate ">
                settle_date,
            </if>
            <if test="null != settleAmount ">
                settle_amount,
            </if>
            <if test="null != settleFee ">
                settle_fee,
            </if>
            <if test="null != settleRate ">
                settle_rate,
            </if>
            <if test="null != settleStatus ">
                settle_status,
            </if>
            <if test="null != settleRemark ">
                settle_remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != accountSettleId ">
                #{accountSettleId},
            </if>
            <if test="null != accountNo and '' != accountNo">
                #{accountNo},
            </if>
            <if test="null != merchantNo and '' != merchantNo">
                #{merchantNo},
            </if>
            <if test="null != settleDate ">
                #{settleDate},
            </if>
            <if test="null != settleAmount ">
                #{settleAmount},
            </if>
            <if test="null != settleFee ">
                #{settleFee},
            </if>
            <if test="null != settleRate ">
                #{settleRate},
            </if>
            <if test="null != settleStatus ">
                #{settleStatus},
            </if>
            <if test="null != settleRemark ">
                #{settleRemark},
            </if>
        </trim>
    </insert>

    <select id="selectById" resultType="AccountSettleRecordEntity">
        select * from t_account_settle_record where id = #{id}
    </select>
</mapper>