<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.account.dao.AccountSettleDao">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="AccountSettleEntity">
        INSERT INTO t_account_settle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != accountNo and '' != accountNo">
                account_no,
            </if>
            <if test="null != merchantNo and '' != merchantNo">
                merchant_no,
            </if>
            <if test="null != settleType and '' != settleType">
                settle_type,
            </if>
            <if test="null != cycleType and '' != cycleType">
                cycle_type,
            </if>
            <if test="null != cycleData and '' != cycleData">
                cycle_data,
            </if>
            <if test="null != reserveDays">
                reserve_days,
            </if>
            <if test="null != maxSettleDays">
                max_settle_days,
            </if>
            <if test="null != settleTargetType and '' != settleTargetType">
                settle_target_type,
            </if>
            <if test="null != remark and '' != remark">
                remark,
            </if>
            <if test="null != createTime ">
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != accountNo and '' != accountNo">
                #{accountNo},
            </if>
            <if test="null != merchantNo and '' != merchantNo">
                #{merchantNo},
            </if>
            <if test="null != settleType and '' != settleType">
                #{settleType},
            </if>
            <if test="null != cycleType and '' != cycleType">
                #{cycleType},
            </if>
            <if test="null != cycleData and '' != cycleData">
                #{cycleData},
            </if>
            <if test="null != reserveDays">
                #{reserveDays},
            </if>
            <if test="null != maxSettleDays">
                #{maxSettleDays},
            </if>
            <if test="null != settleTargetType and '' != settleTargetType">
                #{settleTargetType},
            </if>
            <if test="null != remark and '' != remark">
                #{remark},
            </if>
            <if test="null != createTime ">
                #{createTime}
            </if>
        </trim>
    </insert>

    <select id="selectByAccountNo" resultType="AccountSettleEntity">
        select * from t_account_settle where account_no = #{accountNo}
    </select>

    <update id="updateByAccountNo" parameterType="AccountSettleEntity">
        update t_account_settle
        <set>
            <if test="null != settleType and '' != settleType">
                settle_type = #{settleType},
            </if>
            <if test="null != cycleType and '' != cycleType">
                cycle_type = #{cycleType},
            </if>
            <if test="null != cycleData and '' != cycleData">
                cycle_data = #{cycleData},
            </if>
            <if test="null != reserveDays">
                reserve_days = #{reserveDays},
            </if>
            <if test="null != maxSettleDays">
                max_settle_days = #{maxSettleDays},
            </if>
            <if test="null != settleTargetType and '' != settleTargetType">
                settle_target_type = #{settleTargetType},
            </if>
            <if test="null != remark and '' != remark">
                remark = #{remark},
            </if>
            version = version + 1
        </set>
        where account_no = #{accountNo} and version = #{version}
    </update>
</mapper>