<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomato.account.dao.AccountHisDao">

    <select id="selectById" parameterType="map" resultType="AccountHisEntity">
        select * from t_account_his where id = #{id} and account_no = #{accountNo}
    </select>

    <insert id="insert" parameterType="AccountHisEntity">
        insert into
            t_account_his(account_no,merchant_no,amount,third_no,account_his_type,account_status,account_his_serial
                <if test="null != beforeBalance">
                    ,before_balance
                </if>
                <if test="null != afterBalance">
                    ,after_balance
                </if>
                <if test="null != completeTime">
                    ,complete_time
                </if>
                <if test="null != merchantOrderNo">
                    ,merchant_order_no
                </if>
            )
        values
            (#{accountNo},#{merchantNo},#{amount},#{thirdNo},#{accountHisType}, #{accountStatus}, #{accountHisSerial}
                <if test="null != beforeBalance">
                    ,#{beforeBalance}
                </if>
                <if test="null != afterBalance">
                    ,#{afterBalance}
                </if>
                <if test="null != completeTime">
                    ,#{completeTime}
                </if>
                <if test="null != merchantOrderNo">
                    ,#{merchantOrderNo}
                </if>
            )
    </insert>

    <select id="selectByThirdNo" parameterType="map" resultType="AccountHisEntity">
        select * from t_account_his where third_no = #{thirdNo} and account_no = #{accountNo}
    </select>

    <update id="updateAccountStatusBatch" parameterType="AccountHisUpdateBatchBO">
        UPDATE
            t_account_his
        set
            account_status = 'SUCCESS',version = version + 1,before_balance = #{beforeBalance},after_balance = #{afterBalance},complete_time = now(),
            account_his_serial = #{accountHisSerial}
        WHERE id in
        <foreach collection="accountHisIdList" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
         and account_status = 'DEAL' and account_no = #{accountNo}
    </update>

    <select id="selectDeal" parameterType = "map" resultType = "AccountHisDealBO">
        select group_concat(id) as accountHisIds,sum(amount) as sum
        from t_account_his
        where account_no = #{accountNo} and account_status = 'DEAL'
    </select>

    <!-- 账户历史汇总  -->
    <select id="collect" parameterType="map" resultType="AccountHisCollectResBO">
        select
            ifnull(sum(amount),0) as "totalAmount",
            count(id) as "totalCount"
        from t_account_his
        where
            account_no = #{accountNo}
            and <![CDATA[ create_time <= #{end} and create_time >= #{start}]]>
    </select>
</mapper>