version: '3' # 使用 Docker Compose 版本 3
services:
  tomato-merchant:
    build:  # 构建 Docker 镜像的设置
      context: ./tomato-module/tomato-module-merchant/tomato-module-merchant-start  # Dockerfile 所在的目录
    restart: always # 容器退出时总是自动重启
    image: tomato-merchant # 指定容器使用的镜像名称
    container_name: tomato-merchant  # 指定容器的名称
    ports:
      - "9992:9992" # 将容器的 9994 端口映射到主机的 9994 端口
    networks:
      - spring_cloud_default  # 将容器连接到名为 spring_cloud_default 的网络
  tomato-account:
    build: # 构建 Docker 镜像的设置
      context: ./tomato-module/tomato-module-account/tomato-module-account-biz  # Dockerfile 所在的目录
    restart: always # 容器退出时总是自动重启
    image: tomato-account # 指定容器使用的镜像名称
    container_name: tomato-account  # 指定容器的名称
    ports:
      - "9080:9080" # 将容器的 9994 端口映射到主机的 9994 端口
    networks:
      - spring_cloud_default  # 将容器连接到名为 spring_cloud_default 的网络
  tomato-notice:
    build: # 构建 Docker 镜像的设置
      context: ./tomato-module/tomato-module-notice/tomato-module-notice-start  # Dockerfile 所在的目录
    restart: always # 容器退出时总是自动重启
    image: tomato-notice # 指定容器使用的镜像名称
    container_name: tomato-notice  # 指定容器的名称
    ports:
      - "9996:9996" # 将容器的 9994 端口映射到主机的 9994 端口
    networks:
      - spring_cloud_default  # 将容器连接到名为 spring_cloud_default 的网络
  tomato-order:
    build: # 构建 Docker 镜像的设置
      context: ./tomato-module/tomato-module-order/tomato-module-order-start  # Dockerfile 所在的目录
    restart: always # 容器退出时总是自动重启
    image: tomato-order # 指定容器使用的镜像名称
    container_name: tomato-order  # 指定容器的名称
    ports:
      - "9998:9998" # 将容器的 9994 端口映射到主机的 9994 端口
    networks:
      - spring_cloud_default  # 将容器连接到名为 spring_cloud_default 的网络
  tomato-channel:
    build: # 构建 Docker 镜像的设置
      context: ./tomato-module/tomato-module-channel/tomato-module-channel-start  # Dockerfile 所在的目录
    restart: always # 容器退出时总是自动重启
    image: tomato-channel # 指定容器使用的镜像名称
    container_name: tomato-channel  # 指定容器的名称
    ports:
      - "9991:9991" # 将容器的 9994 端口映射到主机的 9994 端口
    networks:
      - spring_cloud_default  # 将容器连接到名为 spring_cloud_default 的网络
  tomato-monitor:
    build:
      context: ./tomato-module/tomato-module-monitor  # Dockerfile 所在的目录
    restart: always # 容器退出时总是自动重启
    image: tomato-monitor # 指定容器使用的镜像名称
    container_name: tomato-monitor  # 指定容器的名称
    ports:
      - "9994:9994" # 将容器的 9994 端口映射到主机的 9994 端口
    networks:
      - spring_cloud_default  # 将容器连接到名为 spring_cloud_default 的网络
networks:
  spring_cloud_default:  # 定义名为 spring_cloud_default 的网络
    driver: bridge #  使用 bridge 网络模式
    name: spring_cloud_default