<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.gen.dao.GenFieldTypeDao">
    <select id="selectAll" resultType="GenFieldTypeEntity">
        select
            *
        from
            t_gen_field_type
    </select>
</mapper>