<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.seckill.dao.SeckillUserDao">
    <update id="updateSkillRemaining">
        update
            t_seckill_user
        set
            seckill_remaining = seckill_remaining - 1,
            version = version + 1
        where
            user_id = #{userId} and
            seckill_goods_id = #{seckillGoodsId} and
            seckill_remaining > 0 and
            version = #{version}
    </update>
    <insert id="insert">
        insert into
            t_seckill_user
            (seckill_goods_id,user_id,goods_id,seckill_count,seckill_remaining)
        values
            (#{seckillGoodsId},#{userId}, #{goodsId}, #{seckillCount}, #{seckillRemaining})
    </insert>

    <select id="selectByUserIdSeckillGoodsId" resultType="SeckillUserEntity">
        select
            version,
            id,
            seckill_goods_id,
            user_id,goods_id,
            seckill_count,seckill_remaining
        from
            t_seckill_user
        where
            user_id = #{userId} and seckill_goods_id = #{seckillGoodsId}
    </select>
</mapper>