package ${genConfig.daoPackageName};

#foreach ($importClass in $importPackageList)
$importClass
#end
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Component;
import ${genConfig.entityPackageName}.${table.upperTableName}Entity;
/**
 * 表：${table.tableName} ${table.tableComment} dao
 *
 * @author ${genConfig.author}
 * @since  ${genConfig.localDateTime}
 */
@Mapper
public interface ${table.upperTableName}Dao {

    /**
     * 插入 entity 数据
     *
     * @param entity 实体对象
     * @return 返回影响的行数
     */
    int insert(@Param("entity") ${table.upperTableName}Entity entity);

    /**
     * 根据主键查询 entity 数据
     *
     * @param id 主键
     * @return entity
     */
     ${table.upperTableName}Entity selectById(@Param("id") Long id);
}
