<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.goods.seckill.dao.SeckillActivityDao">
    <insert id="insert" parameterType="SeckillActivityEntity">
        insert into
            t_seckill_activity
            (
             activity_name,activity_desc,
             start_time,end_time
             )
        values
            (
             #{seckillActivity.activityName},#{seckillActivity.activityDesc},
             #{seckillActivity.startTime}, #{seckillActivity.endTime}
             )
    </insert>

    <select id="selectByTime" resultType="java.util.List">
        select
            id
        from
            t_seckill_activity
        where
            start_time &gt;= #{startTime} and end_time &lt;= #{endTime} and activity_status = 0
    </select>
</mapper>