<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.goods.skill.dao.SkillUserDao">
    <update id="updateSkillRemaining">
        update
            t_skill_user
        set
            skill_remaining = skill_remaining - 1,
            version = version + 1
        where
            user_id = #{userId} and
            skill_goods_id = #{skillGoodsId} and
            skill_remaining > 0 and
            version = #{version}
    </update>
    <insert id="insert">
        insert into
            t_skill_user
            (skill_goods_id,user_id,goods_id,skill_count,skill_remaining)
        values
            (#{skillGoodsId},#{userId}, #{goodsId}, #{skillCount}, #{skillRemaining})
    </insert>
</mapper>