<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.order.order.dao.OrderDao">
    <update id="updateOrderStatus">
        update
            t_order_info
        set
            version = version + 1,
            order_status = #{updateOrderStatusBO.orderStatus}
            <if test="updateOrderStatusBO.completeTime != null">,complete_time = #{updateOrderStatusBO.completeTime}</if>
        where
            order_no = #{updateOrderStatusBO.orderNo}
            and version = #{updateOrderStatusBO.currentVersion}
            and order_status = #{updateOrderStatusBO.expectOrderStatus}
    </update>

    <sql id="select_fields">
        order_status,order_no,pay_type,complete_time,create_time
    </sql>

    <select id="selectByOrderNo" resultType="OrderQueryResp">
        select
            <include refid="select_fields" />
        from
            t_order_info
        where
            order_no = #{orderNo}
    </select>

    <select id="selectByMerchant" resultType="OrderQueryResp">
        select
            <include refid="select_fields" />
        from
            t_order_info
        where
            merchant_no = #{merchantNo} and merchant_order_no = #{merchantOrderNo}
    </select>

    <select id="selectByOrderNoBase" resultType="OrderEntity">
        select
            order_status,order_no,pay_type,complete_time,create_time,version
        from
            t_order_info
        where
            order_no = #{orderNo}
    </select>
</mapper>