<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.order.order.dao.OrderDao">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="OrderEntity">
        INSERT INTO t_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != machineIp and '' != machineIp">
                machine_ip,
            </if>
            <if test="null != clientIp and '' != clientIp">
                client_ip,
            </if>
            <if test="null != orderNo and '' != orderNo">
                order_no,
            </if>
            <if test="null != requestAmount">
                request_amount,
            </if>
            <if test="null != orderStatus and '' != orderStatus">
                order_status,
            </if>
            <if test="null != accountStatus and '' != accountStatus">
                account_status,
            </if>
            <if test="null != refundStatus and '' != refundStatus">
                refund_status,
            </if>
            <if test="null != noticeStatus and '' != noticeStatus">
                notice_status,
            </if>
            <if test="null != completeTime">
                complete_time,
            </if>
            <if test="null != timeoutTime">
                timeout_time,
            </if>
            <if test="null != orderType and '' != orderType">
                order_type,
            </if>
            <if test="null != payType and '' != payType">
                pay_type,
            </if>
            <if test="null != merchantOrderNo and '' != merchantOrderNo">
                merchant_order_no,
            </if>
            <if test="null != merchantNo and '' != merchantNo">
                merchant_no,
            </if>
            <if test="null != merchantFee">
                merchant_fee,
            </if>
            <if test="null != merchantRate">
                merchant_rate,
            </if>
            <if test="null != merchantName and '' != merchantName">
                merchant_name,
            </if>
            <if test="null != noticeWeb and '' != noticeWeb">
                notice_web,
            </if>
            <if test="null != noticeSys and '' != noticeSys">
                notice_sys,
            </if>
            <if test="null != extParam and '' != extParam">
                ext_param,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != machineIp and '' != machineIp">
                #{machineIp},
            </if>
            <if test="null != clientIp and '' != clientIp">
                #{clientIp},
            </if>
            <if test="null != orderNo and '' != orderNo">
                #{orderNo},
            </if>
            <if test="null != requestAmount and '' != requestAmount">
                #{requestAmount},
            </if>
            <if test="null != orderStatus and '' != orderStatus">
                #{orderStatus},
            </if>
            <if test="null != accountStatus and '' != accountStatus">
                #{accountStatus},
            </if>
            <if test="null != refundStatus and '' != refundStatus">
                #{refundStatus},
            </if>
            <if test="null != noticeStatus and '' != noticeStatus">
                #{noticeStatus},
            </if>
            <if test="null != completeTime">
                #{completeTime},
            </if>
            <if test="null != timeoutTime">
                #{timeoutTime},
            </if>
            <if test="null != orderType and '' != orderType">
                #{orderType},
            </if>
            <if test="null != payType and '' != payType">
                #{payType},
            </if>
            <if test="null != merchantOrderNo and '' != merchantOrderNo">
                #{merchantOrderNo},
            </if>
            <if test="null != merchantNo and '' != merchantNo">
                #{merchantNo},
            </if>
            <if test="null != merchantFee">
                #{merchantFee},
            </if>
            <if test="null != merchantRate">
                #{merchantRate},
            </if>
            <if test="null != merchantName and '' != merchantName">
                #{merchantName},
            </if>
            <if test="null != noticeWeb and '' != noticeWeb">
                #{noticeWeb},
            </if>
            <if test="null != noticeSys and '' != noticeSys">
                #{noticeSys},
            </if>
            <if test="null != extParam and '' != extParam">
                #{extParam},
            </if>
        </trim>
    </insert>
    <update id="updateOrderStatus">
        update
            t_order_info
        set
            version = version + 1,
            order_status = #{updateOrderStatusDO.orderStatus}
            <if test="updateOrderStatusDO.completeTime != null">,complete_time = #{updateOrderStatusDO.completeTime}</if>
        where
            order_no = #{updateOrderStatusDO.orderNo}
            and version = #{updateOrderStatusDO.currentVersion}
            and order_status = #{updateOrderStatusDO.expectOrderStatus}
    </update>

    <sql id="select_fields">
        order_status,order_no,pay_type,complete_time,create_time
    </sql>

    <select id="selectByOrderNo" resultType="OrderQueryResp">
        select
            <include refid="select_fields" />
        from
            t_order_info
        where
            order_no = #{orderNo}
    </select>

    <select id="selectByMerchant" resultType="OrderQueryResp">
        select
            <include refid="select_fields" />
        from
            t_order_info
        where
            merchant_no = #{merchantNo} and merchant_order_no = #{merchantOrderNo}
    </select>

    <select id="selectByOrderNoBase" resultType="OrderEntity">
        select
            order_status,order_no,pay_type,complete_time,create_time,version
        from
            t_order_info
        where
            order_no = #{orderNo}
    </select>

    <update id="updateOrderStatusTimeOut">
        update
            t_order_info
        set
            version = version + 1,
            order_status = '${@com.tomato.order.domain.constant.OrderStatusEnum@TIMEOUT.value}',
            complete_time = current_timestamp
        where
            timeout_time &lt;= current_timestamp
            and order_status = '${@com.tomato.order.domain.constant.OrderStatusEnum@DEAL.value}'
    </update>

    <select id="selectByCreateTime" resultType="OrderEntity">
        select
            order_status,order_no,pay_type,create_time,version
        from
            t_order_info
        where
            create_time &gt;= #{createTime}
            and order_status = #{orderStatus}
            limit #{pageIndex},#{pageSize}
    </select>
</mapper>