<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.notice.mapper.NoticeRecordHistoryMapper">
    <insert id="insert" parameterType="NoticeRecordHistoryEntity">
        insert into t_notice_record_history (
            notice_record_id,
            notice_result
        ) values (
            #{noticeRecordId},
            #{noticeResult}
        )
    </insert>
</mapper>