<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.notice.mapper.NoticeRecordMapper">
    <update id="updateNoticeResult" parameterType="map">
        update
            t_notice_record
        set
            state = #{state},
            notice_result = #{noticeResult},
            notice_count = notice_count + 1,
            version = version + 1,
            last_notice_time = current_timestamp
        where
            id = #{id}
    </update>
    <select id="selectById" resultType="NoticeRecordEntity">
        select
            *
        from
            t_notice_record
        where id = #{id}
    </select>

    <select id="selectByMerchant" resultType="NoticeRecordEntity">
        select
            *
        from
            t_notice_record
        where
            merchant_no = #{merchantNo}
           and merchant_order_no = #{merchantOrderNo}
    </select>
</mapper>